html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}



#mainLayout {
    height: 100%;
    width : 100%;
    background-color: #f6f6f6;
    overflow : hidden;
}

#mainCanvasLayout{
    width: 100%;
    height : 100%;
    left:200px;
    position: relative;
    background: #0da861;
}


#workSpace{
    width: 1024px;
    height : 768px;
    display: block;
    -webkit-perspective: 600;
    -webkit-perspective-origin: 50% 50%;
    border : 1px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}




#world {
    position: absolute;
    height: 0;
    width: 0;
    -webkit-transform-style: preserve-3d;
}







#mainCanvasLayout, #mainLeftLayout,#mainRightLayout{
    display: inline-block;

}


#mainRightLayout{
    display : none;
    background : #222;
    width: 224px;
    height : 100%;
    margin-left : 0px;
    float : right;
    z-index : 110;
    right : 0px;
    position: absolute;
}




#ImageInsertDialog{
    display: none;
}




