<ul id="commonLayoutMenu">
    <li>
        <div>Translation</div>
        <ul>
            <li>
                X : <input  id="xTransKnob"  data-max="10000" data-min="-10000" data-width="75" data-height="75" data-skin='iron' data-displayPrevious=true data-cursor=true>
            </li>

            <li>
                Y : <input  id="yTransKnob"  data-max="10000" data-min="-10000" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>

            <li>
                Z : <input  id="zTransKnob"  data-max="10000" data-min="-10000" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>
        </ul>
    </li>
    <li>
        <div>Rotation</div>
        <ul>
            <li>
                X : <input  id="xRotKnob"  data-max="360" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>
            <li>
                Y : <input  id="yRotKnob"  data-max="360" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>
        </ul>
    </li>
    <li>
        <div>Scale</div>
        <ul>
            <li>
                scale : <input  id="scaleKnob"  data-max="255" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>

        </ul>
    </li>
</ul>



