<ul id="textEffectMenu">
    <li>
        <div>Line Height</div>
        <ul>
            <li>
                Line Height : <input  id="lineHeightKnob"  data-max="100" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>
        </ul>
    </li>
    <li>
        <div>Color</div>
        <ul>
            <li>
                R : <input  id="colorRKnob"  data-max="255" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>
            <li>
                G : <input  id="colorGKnob"  data-max="255" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>
            <li>
                B : <input  id="colorBKnob"  data-max="255" data-width="75" data-height="75" data-skin='iron' data-cursor=true>
            </li>
        </ul>
    </li>
</ul>



