<div class='border_style_control'>

    <div class='style_item_wrap'>
                        <span class="label float_left">
                            Style :&nbsp;&nbsp;
                        </span>
        <select id='borderStyleSelector'>
            <option>none</option>
            <option>solid</option>
            <option>dash</option>
            <option>dotted</option>
        </select>
    </div>

    <div class='style_item_wrap'>
                        <span class="label">
                            width :&nbsp;&nbsp;
                        </span>

        <input class="input-small px_input" id='borderWidth'>
        <span>px</span>
    </div>



    <div class='border_radius_group'>
        <div class='style_item_wrap'>
                        <span class="label">
                            top-left :&nbsp;&nbsp;
                        </span>
            <input class="input-small px_input" id='borderRadiusTopLeft'>
            <span>px</span>
        </div>

        <div class='style_item_wrap'>
                        <span class="label">
                            top-right :&nbsp;&nbsp;
                        </span>
            <input class="input-small px_input" id='borderRadiusTopRight'>
            <span>px</span>
        </div>

        <div class='style_item_wrap'>
                        <span class="label">
                            bottom-left :&nbsp;&nbsp;
                        </span>
            <input class="input-small px_input" id='borderRadiusBottomLeft'>
            <span>px</span>
        </div>


        <div class='style_item_wrap'>
                        <span class="label">
                            bottom-right :&nbsp;&nbsp;
                        </span>
            <input class="input-small px_input" id='borderRadiusBottomRight'>
            <span>px</span>
        </div>

    </div>

    <div class='style_item_wrap'>
                            <span class="label">
                                 Color :&nbsp;&nbsp;
                            </span>
        <input class="input-small" id='borderColor'>
    </div>




</div>