<div id="styleDialog">
    <div class='dialog_content'>
        <div class='left_panel'>
            <div class='style_selector'>
                 <select id='style_selector'>
                     <option value='border'>Border Radius</option>
                     <option value='box_shadow'>Box Shadow</option>
                     <option value='text_shadow'>Text Shadow</option>
                 </select>
                 <ul class='style_header_btn_set'>

                     <li id='styleCancelBtn'>×</li>
                 </ul>
            </div>
            <div class='style_control_panel' id='styleControlPanel'>

            </div>
        </div>

    </div>
</div>