<div class='text_shadow_style_control'>
    <div class='style_group'>
        <div class="setting-block">
            <div class="row">
                <label for="horizontal-length">Horizontal Length</label>
                <label class="align-right" for="horizontal-length">px</label>
                <div class="text-1">
                    <input id="horizontal-length" type="text" value="10">
                </div>
            </div>
            <div class='style_slider'>
            </div>



            <div class="row margin_top">
                <label for="vertical-length">Vertical Length</label>
                <label class="align-right" for="vertical-length">px</label>
                <div class="text-1">
                    <input id="vertical-length" type="text" value="10">
                </div>
            </div>
            <div class='style_slider'>
            </div>
        </div>

        <div class='divider_line'></div>

        <div class="setting-block">
            <div class="row">
                <label for="blur-radius">Blur Radius</label>
                <label class="align-right" for="blur-radius">px</label>
                <div class="text-1">
                    <input id="blur-radius" type="text" value="5">
                </div>
            </div>
            <div class='style_slider'></div>

            <div class="row margin_top">
                <label for="spread-field">Spread Radius</label>
                <label class="align-right" for="spread-field">px</label>
                <div class="text-1">
                    <input id="spread-field" type="text" value="0">
                </div>
            </div>
            <div class='style_slider'></div>
        </div>

        <div class='divider_line'></div>

        <div class="setting-block">
            <div class="row color-row">
                <label for="shadowColor">Shadow Color</label>
                <div class="text-2">
                    <input id="shadowColor" class='color_picker' value="#000000">
                </div>
                <span class='color_thumb'></span>
            </div>
        </div>

        <div class='divider_line'></div>

        <div class="setting-block">
            <div class="row">
                <label for="opacity_value">Opacity</label>

                <div class="text-1">
                    <input id='opacity_value' type="text" value="5">
                </div>
            </div>
            <div class='style_slider'></div>
        </div>

        <div class="setting-block">
            <div class="row">
                <div class='add_style_btn'>Add to List</div>
            </div>
        </div>
    </div>

    <div class='style_group margin_top'>
        <div class="setting-block">
            <div class="row">
                <label>Shadow List</label>
            </div>

            <ul class='style_list' id='textShadowList'>
                <li>
                    <span class='item_name'>shadow</span>
                    <span class='delete_btn'>Χ</span>
                </li>
                <li>
                    <span class='item_name'>shadow</span>
                    <span class='delete_btn'>Χ</span>
                </li>
                <li>
                    <span class='item_name'>shadow</span>
                    <span class='delete_btn'>Χ</span>
                </li>
                <li>
                    <span class='item_name'>shadow</span>
                    <span class='delete_btn'>Χ</span>
                </li>
            </ul>
         </div>
    </div>
</div>