
<ul>
    <li>
        <div class='ctrLevel1'>Common</div>
        <ul>
            <li>
                <div class='ctrLevel2'>layout</div>
                <ul>
                    <ii><a href="#">size</a></ii>
                    <ii><a href="#">rotate</a></ii>
                    <ii><a href="#">translate</a></ii>
                </ul>
            </li>
            <li>
                <div class='ctrLevel2'>layout</div>
            </li>
            <li>
                <div class='ctrLevel2'>background</div>
            </li>

            <li>
                <div class='ctrLevel2'>transparent</div>

            </li>
        </ul>
    </li>
</ul>