<div id='lmSlider'>
    <div id='lmBigButtonWrap'>
        <div id='lmSaveButton'>
            <div></div>
        </div>
        <div id='lmShowButton'>
            <div></div>
        </div>
    </div>

    <div id='lmListButtonWrap'>
        <ul id='lmListButtonListWrap'>
            <li id='lmSequenceButton'>
                <span class='lmButtonName'>Sequence</span>
                <span class='lmButtonIcon lmSequenceIcon'></span>

                <ul id='sequenceArrayContainer'>

                </ul>

            </li>
<!--
            <li id='lmStyleButton'>
                <span class='lmButtonName'>Style</span>
                <span class='lmButtonIcon lmStyleIcon'></span>
            </li>

            <li id='lmWorkSpaceButton'>
                <span class='lmButtonName'>Work Space</span>
                <span class='lmButtonIcon lmWorkSpaceIcon'></span>
            </li>
            <li id='lmExportButton'>
                <span class='lmButtonName'>Export</span>
                <span class='lmButtonIcon lmExportIcon'></span>
            </li>
-->
            <li id='lmSettingButton'>
                <span class='lmButtonName'>setting</span>
                <span class='lmButtonIcon lmSettingIcon'></span>
            </li>
        </ul>
    </div>


</div>
