<div id='TopToolBarWrap'>
    <ul id='TopToolBar'>
        <li class='topIcon' id='boldButton'>
            <div class='icon'></div>
        </li>
        <li class='topIcon' id='italicButton'>
            <div class='icon'></div>
        </li>
        <li class='topIcon' id='underlineButton'>
            <div class='icon'></div>
        </li>

        <li class="divider"></li>

        <li class='topIcon' id='sentenceSortButton'>
            <div class='selected plainSentence icon'></div>

            <div class='sentenceSortToolTip'>
                <ul class='topHorizonList'>
                    <li class='topIcon'>
                        <div class='icon plainSentence'></div>
                    </li>
                    <li class='topIcon'>
                        <div class='icon leftSentence'></div>
                    </li>
                    <li class='topIcon'>
                        <div class='icon rightSentence'></div>
                    </li>
                    <li class='topIcon'>
                        <div class='icon centerSentence'></div>
                    </li>
                </ul>
            </div>

        </li>

        <li class="divider"></li>

        <li  id='fontSizeButton'>
            <input class='selected'>
            <div class="fontSizeSelectOptions" >
                <ul class='topVerticalList'>

                </ul>
            </div>
        </li>

        <li class="divider"></li>

        <li id='fontFamilyButton'>
            <span class='selected'>Arail</span>
            <div class="fontFamilySelectOptions" >
                <ul class='topVerticalList'>
                    <li class="selectOption" value="Arial">Arial</li>
                    <li class="selectOption" value="sans-serif">Sans-serif</li>
                    <li class="selectOption" value="fantasy">Fantasy</li>
                </ul>
            </div>
        </li>

        <li class="divider"></li>
        <li class='topIcon' id='colorButton'>
            <div class='icon'></div>
            <div class='colorButtonToolTip'>

            </div>
        </li>
        <li class='topIcon' id='objectBackgroundColorButton'>
            <div class='icon'></div>
            <div class='objectBackgroundColorButtonToolTip'>

            </div>
        </li>

        <li class="divider"></li>

        <li class='topIcon' id='styleButton'>
            <div class='icon'></div>
        </li>

        <li class="divider"></li>

        <li class='topIcon' id='layoutButton'>
            <div class='icon'></div>
            <div class='layoutButtonToolTip'>
                <div class='layoutButtonToolTipWrap'>
                    <div class='sizeValueSet'>
                        <div class='cf'>
                            <input id='layoutWidthValue' class='default_input' data-key='width'>
                            <div>width</div>
                        </div>

                        <div class='cf'>
                            <input id='layoutHeightValue' class='default_input' data-key='height'>
                            <div>height</div>
                        </div>
                    </div>

                    <div class='hori_divider'></div>

                    <div class='transitionValueSet'>
                        <div class='cf'>
                            <input id='layoutPosXValue' class='default_input' data-key='translateX'>
                            <div>X</div>
                        </div>
                        <div class='cf'>
                            <input id='layoutPosYValue' class='default_input' data-key='translateY'>
                            <div>Y</div>
                        </div>
                        <div class='cf'>
                            <input id='layoutPosZValue' class='default_input' data-key='translateZ'>
                            <div>Z</div>
                        </div>
                    </div>

                    <div class='hori_divider'></div>

                    <div class='rotationValueSet'>
                        <div class='rotationValueItemWrap'>

                            <div class='box_under_point'>
                                <div>X</div>
                            </div>

                            <input id='layoutRotateX'   class='knob_input'
                                   data-min = "0"
                                   data-max = "360"
                                   data-width="50"
                                   data-fgColor="#AAAAAA"
                                   data-skin="tron"
                                   data-thickness=".4"
                                   data-cursor=true
                                   data-displayPrevious=true
                                   data-key='rotateX'>

                        </div>
                        <div class='rotationValueItemWrap'>

                            <div class='box_under_point'>
                                <div>Y</div>
                            </div>

                            <input id='layoutRotateY'   class='knob_input'
                                   data-min = "0"
                                   data-max = "360"
                                   data-width="50"
                                   data-fgColor="#AAAAAA"
                                   data-skin="tron"
                                   data-thickness=".4"
                                   data-cursor=true
                                   data-displayPrevious=true
                                   data-key='rotateY'>
                        </div>
                        <div class='rotationValueItemWrap'>

                            <div class='box_under_point'>
                                <div>Z</div>
                            </div>

                            <input id='layoutRotateZ'   class='knob_input'
                                   data-min = "0"
                                   data-max = "360"
                                   data-width="50"
                                   data-fgColor="#AAAAAA"
                                   data-skin="tron"
                                   data-thickness=".4"
                                   data-cursor=true
                                   data-displayPrevious=true
                                   data-key='rotateZ'>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="divider"></li>

        <li class='topIcon' id='backgroundButton'>
            <div class='icon'></div>
        </li>

        <li class="divider"></li>

        <li class='topIcon' id='textInsertButton'>
            <div class='icon'></div>
        </li>

        <li class='topIcon' id='imageInsertButton'>
            <div class='icon'></div>
        </li>

        <li class='topIcon' id='frameInsertButton'>
            <div class='icon'></div>
        </li>
    </ul>
</div>
